<div id="mainbox">
  <div class="box">
    <div class="coming"></div>
    <div class="entermail">
      <%= render partial: 'form' %>
      <div class="tishi">LET ME KNOW WHEN IT'S READY</div>
    </div>
    <div class="gulu gulu-en"></div>
  </div>
</div>


<div id="demo">
  <div id="indemo">
    <div id="demo1">

    <%= image_tag 'a1.png' %>
    <%= image_tag 'a2.png' %>
    <%= image_tag 'a3-en.png' %>
    <%= image_tag 'a2.png' %>
    <%= image_tag 'a4.png' %>
    <%= image_tag 'a5-en.png' %>
    <%= image_tag 'a2.png' %>

    </div>
    <div id="demo2"></div>
  </div>
</div>

<div id="language">
  <a href="/welcome/en" class="sel">English</a>
  <a href="/welcome/zh">简体中文</a>
  <a href="/welcome/ja" style="background:none">日 本 語</a>
</div>
