<!DOCTYPE html>
<html>
<head>
  <title>GULU</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="cloud">
	<div id="cloud1"></div>
	<div id="cloud2"></div>
</div>
<div class="road"></div>
<div class="runegg"></div>

<%- flash.each do |name, msg| -%>
  <% if msg.is_a?(String) %>
    <div class='mask'></div>
    <div class="<%= I18n.locale %> <%= name %>"></div>
  <% end %>
<%- end -%>
<%= yield %>

</body>
</html>
