<!DOCTYPE html>
<html>
<head>
  <title>I Love ChiChi</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta content="A retro virtual-pet game on mobile which can be played with your friends." name="description" />
  <meta content="chichi, virtual pet, tamagotchi, chichiapp, 电子宠物，宠物鸡，电子鸡" name="keywords" />
</head>
<body>
<div id="cloud">
	<div id="cloud1"></div>
	<div id="cloud2"></div>
</div>
<div class="road"></div>
<div class="runegg"></div>

<%- flash.each do |name, msg| -%>
  <% if msg.is_a?(String) %>
    <div class='mask'></div>
    <div class="<%= I18n.locale %> <%= name %>"></div>
  <% end %>
<%- end -%>
<%= yield %>
<div id="language">
  <div class="fb-like floleft fb" data-href="http://chichiapp.com/welcome/en" style="margin-top:-2px" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
  <span class="floleft">
    <a href="/welcome/en" <%= "class='sel'".html_safe if action_name == 'en' %>>English</a>
    <a href="/welcome/zh" <%= "class='sel'".html_safe if action_name == 'zh' %>>简体中文</a>
    <a href="/welcome/ja" <%= "class='sel'".html_safe if action_name == 'ja' %> style="background:none">日 本 語</a>
  </span>
  
</div>
<div id="fb-root"></div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29847901-2']);
  _gaq.push(['_setDomainName', 'chichiapp.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/<%=fb_locale(I18n.locale)%>/all.js#xfbml=1&appId=472771182758620";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
