<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/head' %>
</head>
<body>
  <div id="cloud">
		<div id="cloud1"></div>
		<div id="cloud2"></div>
	</div>
	<div class="road"></div>
	<div class="runegg"></div>

	<%- flash.each do |name, msg| -%>
	  <% if msg.is_a?(String) %>
	    <div class='mask'></div>
	    <div class="<%= I18n.locale %> <%= name %>"></div>
	  <% end %>
	<%- end -%>
	<%= yield %>
	<%= render partial: 'layouts/foot' %>
</body>
</html>